__pycache__/

.netrwhist
node_modules/
plugins/
package-lock.json

xmonad/xmonad.hi
xmonad/xmonad.ho
xmonad/xmonad.o
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
xmonad/prompt-history

vifm/scripts/
vifm/vifm-help.txt
vifm/vifminfo.json

zsh/.zcompdump
