snippet cb
;; --------------------------------------------------------------------------------------------
$1
endsnippet

snippet cs
;;
;;
;; $1
;;
;;
$2
endsnippet

snippet nn
;; ///////////////////////////////////
;; - flash: $1
endsnippet
