snippet cb
// --------------------------------------------------------------------------
//                          - $1 -
// --------------------------------------------------------------------------
endsnippet

snippet sl
// ====----------------------------------------------------------------------------------------
//
//
//
// $1
//
//
//
// ----------------------------------------------------------------------------------------====
$2
endsnippet

snippet sm "smaller section"
////////////////////////////////
// ~ $1

$2
endsnippet

snippet nn
// NOTE(madflash) - $1
endsnippet

snippet cn
// CLEAN_UP(madflash) - $1
endsnippet

snippet inc
#include <$1>
$2
endsnippet

snippet ifn
#ifndef $1
#define $1
endsnippet

snippet def
#define $1
endsnippet

snippet end
#endif $1
endsnippet

snippet bmain
int main() {
    $1
    return 0;
}
endsnippet

snippet bmain2
int main(int argc, char* argv[]) {
    $1
    return 0;
}
endsnippet
