snippet cb
// --------------------------------------------------------------------------------------------
$1
endsnippet

snippet sl
// ====----------------------------------------------------------------------------------------
//
//
//
// $1
//
//
//
// ----------------------------------------------------------------------------------------====
$2
endsnippet

snippet ss
/////////////////////////////////////////////////
// $1

$2
endsnippet

snippet sm
////////////////////////////////
// ~ $1

$2
endsnippet

snippet nn
// NOTE(madflash) - $1
endsnippet

snippet cn
// CLEAN(madflash) - $1
endsnippet

snippet inc
#include <$1>
$2
endsnippet

snippet inc
#include $1
$2
endsnippet

snippet ifn
#ifndef $1
#define $1
endsnippet

snippet def
#define $1
endsnippet

snippet end
#endif $1
endsnippet

snippet fmain
int main(int argc, char* argv[])
{
		return 0;
}
endsnippet
