snippet cb
/* -------------------------------------------------------------------------------------------- */
$1
endsnippet

snippet cs
// --------------------------------------------------------------------------------------------
// $1
// --------------------------------------------------------------------------------------------
$2
endsnippet
