snippet cb
// --------------------------------------------------------------------------------------------
$1
endsnippet

snippet cs
// ====----------------------------------------------------------------------------------------
//
// $1
//
// ----------------------------------------------------------------------------------------====
$2
endsnippet

snippet sl
// ====----------------------------------------------------------------------------------------
//
//
//
// $1
//
//
//
// ----------------------------------------------------------------------------------------====
$2
endsnippet

snippet ss
/////////////////////////////////////////////////
// $1

$2
endsnippet

snippet nn
// NOTE(madflash) - $1
endsnippet

snippet cn
// CLEAN(madflash) - $1
endsnippet
