snippet cb
# --------------------------------------------------------------------------
#                          - $1 -
# --------------------------------------------------------------------------
endsnippet
